.right {
    text-align: right;
}
.center{
    text-align: center;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

/* margin */

.mar-0  {
    margin: 0;
}
.mar-top-1 {
    margin-top: 1%;
}
.mar-top-2 {
    margin-top: 2%;
}
.mar-top-5 {
    margin-top: 5%;
}
.mar-top-15 {
    margin-top: 15%;
}
.mar-top-30 {
    margin-top: 30%;
}
.mar-bot-1 {
    margin-bottom: 1%;
}
.mar-bot-2 {
    margin-bottom: 2%;
}
.mar-bot-5 {
    margin-bottom: 5%;
}
.mar-bot-15 {
    margin-bottom: 15%;
}
.mar-bot-30 {
    margin-bottom: 30%;
}
.mar-left-2 {
    margin-left: 2%;
}
.mar-right-2 {
    margin-right: 2%;
}


/* padding */

.pad-0 {
    padding: 0;
}

.pad-top-1 {
    padding-top: 1%;
}
.pad-top-2 {
    padding-top: 2%;
}
.pad-top-5 {
    padding-top: 5%;
}
.pad-top-15 {
    padding-top: 15%;
}
.pad-top-30 {
    padding-top: 30%;
}
.pad-bot-1 {
    padding-bottom: 1%;
}
.pad-bot-2 {
    padding-bottom: 2%;
}
.pad-bot-5 {
    padding-bottom: 5%;
}
.pad-bot-15 {
    padding-bottom: 15%;
}
.pad-bot-30 {
    padding-bottom: 30%;
}
.pad-left-2 {
    padding-left: 2%;
}
.pad-right-2 {
    padding-right: 2%;
}

.relative {
    position: relative;
}

/* z-index */

.z-10 {
    z-index: 10;
}
.z-5 {
    z-index: 5;
}

/* colors*/
.b-silver {
    background: gray;
}